.error-popup {
    position: fixed; /* Stick to a specific position on the screen */
    top: 90px;
    right: 40px;
    width: 300px;
    max-height: 300px;
    border-radius: 10px;
    background-color: #f8d7da; /* Add a semi-transparent background */
    color: #721c24; /* Text color */
    padding: 20px;
    border: 1px solid #f5c6cb;
    overflow-y: auto; /* Enable scrolling if content overflows */
    z-index: 9999; /* Ensure it appears on top of other elements */
}

/* Custom Scrollbar Styles */
.error-popup::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.error-popup::-webkit-scrollbar-thumb {
    background-color: #f5c6cb; /* Scrollbar thumb color */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.error-popup::-webkit-scrollbar-thumb:hover {
    background-color: #e3b0b5; /* Darker shade on hover */
}

.error-popup::-webkit-scrollbar-track {
    background-color: #f8d7da; /* Scrollbar track color */
}


.error-popup h3 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center; /* Center the title */
}

.error-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error-popup ul li {
    margin-bottom: 10px;
    font-size: 14px;
}



.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #721c24;
    font-size: 20px;
    cursor: pointer;
}

.close-popup-btn:hover {
    color: #721c24; /* Change color on hover for a better UX */
}

@media screen and (max-width: 425px){
    .error-popup {
        right: 10px;
    }
}