.success-popup {
    position: fixed; 
    top: 90px;
    right: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: #d4edda; 
    color: #155724; 
    padding: 20px;
    border: 1px solid #c3e6cb;
    z-index: 9999; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.success-popup::-webkit-scrollbar {
    width: 8px; 
}

.success-popup::-webkit-scrollbar-thumb {
    background-color: #c3e6cb; 
    border-radius: 4px; 
}

.success-popup::-webkit-scrollbar-thumb:hover {
    background-color: #a8d5ba; 
}

.success-popup p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}


.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #155724;
    font-size: 20px;
    cursor: pointer;
}

.close-popup-btn:hover {
    color: #0b3923;
}


@media screen and (max-width: 425px) {
    .success-popup {
        right: 10px;
    }
}