.error-popup {
    position: fixed;
    top: 90px;
    right: 40px;
    width: 300px;
    max-height: 300px;
    border-radius: 10px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border: 1px solid #f5c6cb;
    overflow-y: auto;
    z-index: 9999;
}


.error-popup::-webkit-scrollbar {
    width: 8px;
}

.error-popup::-webkit-scrollbar-thumb {
    background-color: #f5c6cb;
    border-radius: 4px;
}

.error-popup::-webkit-scrollbar-thumb:hover {
    background-color: #e3b0b5;
}

.error-popup::-webkit-scrollbar-track {
    background-color: #f8d7da;
}


.error-popup h3 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.error-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error-popup ul li {
    margin-bottom: 10px;
    font-size: 14px;
}



.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #721c24;
    font-size: 20px;
    cursor: pointer;
}

.close-popup-btn:hover {
    color: #721c24;
}

@media screen and (max-width: 425px) {
    .error-popup {
        right: 10px;
    }
}